:root{
    --main-color: #FF89D8;
    --sec-color: #1B1464;
    --third-color: #606060b7;
    --text-color: #161621;
    --hover: #1967FF;
}

.howuse{
    min-height: 100vh;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    align-content: center;
    gap: 2rem;
}
.content-hw{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    align-content: center;
    gap: 3rem;
}
.text-hw{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}
.text-hw h3, .text-pn h3{
    font-size: 1.5rem;
}
.text-hw p{
    font-size: 1rem;
}
.text-pn{
    margin-bottom: 5%;
}
/* cards */
.cards-hw{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.game{
    width: 100%;
    max-width: 300px;
    padding: 16px 24px;
    border: var(--third-color) 1px solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    text-align: justify;
}
.game p{
    font-size: 14px;
    margin-bottom: 10px;
}
.game a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: var(--hover);
    height: 45px;
    border-radius: 12px;

    color: #fafafa;
    font-weight: 500;
    font-size: 14px;
    transition: .3s;
}
.game:hover{
    background-color: #4a4a4a0b;
}
.game a:hover{
    color: var(--hover);
    background-color: transparent;
    border: 1.5px solid var(--hover);
}
/* responsive */
@media screen and (max-width: 991px){
   /* main */
   .content-hw{
    grid-template-columns: 1fr;
    gap: 0;
    }
    .text-hw{
        order: 2;
    }
}
@media screen and (max-width: 670px){
     /* main */
    .howuse{
        grid-template-columns: 1fr;
        margin-top: 5%;
    }
    .text-hw h3, .text-pn h3{
        font-size: 1.3rem;
    }
    .text-hw p{
        text-align: justify;
        font-size: .90rem;
    } 
    
    /* cards */
    .cards-hw{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .game{
        padding: 14px 22px;
    }
}
